<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gestionbibliotheque">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GestionBibliotheque">
        <activity android:name=".User.SearchBookActivity" />
        <activity android:name=".User.CatalogueActivity" />
        <activity android:name=".Admin.ConsultCommandActivity" />
        <activity android:name=".Admin.ListViewCommandeActivity" />
        <activity android:name=".Admin.EmpruntBibliothequeActivity" />
        <activity android:name=".Admin.CommandBookActivity" />
        <activity android:name=".Admin.ManageStockActivity" />
        <activity android:name=".Admin.DetailEditActivity" />
        <activity android:name=".Admin.EditBookActivity" />
        <activity android:name=".Admin.DeleteBookActivity" />
        <activity android:name=".User.DetailBookActivity" />
        <activity android:name=".User.ListViewBookActivity" />
        <activity android:name=".User.ConsultBookActivity" />
        <activity android:name=".Admin.ManageBookActivity" />
        <activity android:name=".Admin.AddBookActivity" />
        <activity android:name=".User.UserHomeActivity" />
        <activity android:name=".Admin.AdminHomeActivity" />
        <activity android:name=".Auth.RegisterActivity" />
        <activity
            android:name=".Auth.HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>